<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cad_Setor</title>
    <link rel="stylesheet" href="../static/setor.css">
</head>
<body>
    <form action="/setor" method="post" name="setor" id="form">
        <div class="setor">
            <h1 class="title">CADASTRO DE SETOR</h1><br><br>
                <label for="setor">
                    Nome do Setor:
                </label>
                <input placeholder="insira o nome do setor" type="text" id="setor" name="setor" value="" required><br><br>
            <button type="submit" value="cadastrar" name="botao-cadastrar" id="btn">CADASTRAR</button>
            <button a href="/voltar" value="voltar" name="botao-voltar" id="vlt">VOLTAR</button>
        </div>
    </form>
</body>
</html>